<div class='head'>

    <div class='head-intro'>
      <img src="../img/logo.svg"  class='logo' alt=""/>
        Shoe Store
    </div>  

{{#if order}} 
    <div class='head-links'>
        <p>Drawer</p>
    </div>
{{/if}}


{{#if draw}}
    <div class='head-links'>
        <p>Orders</p>
    </div>
{{/if}}
</div>

{{#if order}} 
  {{> orders}}
{{/if}}


{{#if draw}}
  {{> drawer}} 
{{/if}}
