body{
    background: #9eb5f5;
    font-family: 'Alata', sans-serif;
    margin:0px;
}
.head{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:99%;
  }
  .head-intro{
    display: flex;
    font-size: 3vw;
    margin: 3vw 0vw 2vw 5vw;
    font-weight: 800;
  }
  .head-links{
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    margin: 3vw 5.5vw 2vw 0vw;
  }
  .logo{
    width:4.5vw; 
    margin-right: 1vw;
  }