body{
    background: #9eb5f5;
    font-family: 'Alata', sans-serif;
    margin: 0px;
  }

.head{
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.head-intro{
  display: flex;
  font-size: 3vw;
  margin: 3vw 0vw 2vw 5vw;
  font-weight: 800;
}
.head-links{
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  margin: 3vw 5.5vw 2vw 0vw;
}
.logo{
  width:4.5vw; 
  margin-right: 1vw;
}

.partial-body{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partial-title{
    color:#fff;
    margin-left: 5%;
    font-size: 1.5vw;
}
.order-table{
    margin-top:2vw;
    width:90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.order-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid #000;
}
.order-item{
    text-align: center;
    width:11vw;
}

.item-min{
    width:6vw;
}